body {
    background-color: rgb(1, 106, 148);
    color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
div#program {
    background-color: rgb(41, 41, 41);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 7px;
    margin-left: 500px;
    margin-right: 500px;
    margin-top: 25px;
    text-align: center;
    padding-top: 5px;
}

div#explain {
    border: 1px solid black;
    background-color: rgb(41, 41, 41);
    border-radius: 7px;
    text-align: center;
    padding-bottom: 8px;

}
table {
    border: 1px solid rgb(255, 255, 255);
    margin: auto;
    border-spacing: 0px;
}
td {
    border: 1px solid black;
    padding: 4px;
}
th {
    border: 1px solid black;
    padding: 4px;
}
tr.clear {
background-color: rgb(82, 82, 82);
}
tr.dark {
background-color: rgb(34, 34, 34);
}
footer {
    font-size: 13pt;
    border: solid 1px black;
    border-radius: 10px;
    background-color: rgb(41, 41, 41);
    margin-top: 5px;
    margin-left:550px ;
    margin-right: 550px;
}
a {
    text-decoration: none;
    color: white;
}
footer p :hover {
    color: rgb(102, 102, 102);
    transition: 0.7s;
}